<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/style.ejs') %>  
    <style>
        body{
        background-image: url("images/background2.jpg");
        background-clip: text;
        font-weight: 600;
    }
        .heading{
            width: fit-content;
            margin-inline: auto;
            margin-top: 15px;
        }
    
    
            .signForm{
                margin-top: 5%;
                width: 60%;
                margin-inline: auto;
                border: 1px solid black;
                box-shadow: 2px 2px red ;
                padding: 20px;
            }
    
            .input{
                margin: 10px;
            }
    
            .field{
                font-size: 1.5rem;
                font-weight: 400;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
            }
    
            .submit{
                width: fit-content;
                margin-inline: auto;
                margin-top: 10%;
            }
    
            .submit > button{
                padding-inline: 100px;
                cursor: pointer;
            }
    
            .signTitle{
                font-size: 2rem;
                font-weight: 600;
                font-family:'Times New Roman', Times, serif
            }
    
        </style>
</head>
<body>
    <%- include('../partials/nav') %>
    <% if (locals.error) { %>
        <div class="alert alert-danger" role="alert">
          Username or Email already exists
        </div>
      <% } %>

    <div class="heading">
        <h1>Welcome to Bloggs !!</h1>
    </div>

    <div class="signForm">
        <div class="roboto-slab">
            <h1>Sign Up</h1>
        </div>
        <form action="/user/signup" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control"  aria-describedby="emailHelp" name="userName">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="userEmail">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="userPassword">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control"  name="userConfirmPassword">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <%- include('../partials/script') %>
</body>
</html>